{
    "singleQuote": false,
    "semi": true,
    "jsxSingleQuote": false,
    "tabWidth": 4,
    "useTabs": false,
    "arrowParens": "avoid",
    "trailingComma": "es5",
    "proseWrap": "preserve",
    "endOfLine": "lf"
}
