body {
    background-color: #ffffff;
    padding: 20px;
    margin: 0;
  }
  h1, h2, p, ul, li {
    font-family: sans-serif;
  }

  h1 {
        text-align: center;
  }
  #navBar {
      text-align: center;
      
  }
  ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
  }
  ul.header {
    background-color: rgb(189, 189, 189);
    padding: 0;

  }
  ul.header li a {
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-decoration: none;
    padding: 15px;
    
    display: inline-block;
    
  }
  .content {
    background-color: #FFF;
    padding: 20px;
  }
  .content h2 {
    padding: 0;
    margin: 0;
  }
  .content li {
    margin-bottom: 10px;
  }

  .active {
    background-color: #0099FF;
  }

  .sidebar {
    max-width: 240px;
    border: 0px solid rgba(0, 0, 0, 0.1);
    float: left;
    padding-right: 50px;
    padding-bottom: 100%;
  }
  .search{
    padding-top: 10px;
  }

